* {
    font-family: "Sometype Mono", monospace;
    font-weight: 400;
}

.custom-small-tech-icon {
    font-size: 20px;
    margin-right: 6px;
}

body {
    /* padding-top: 40px; */
    /* background-color: #ffeca5 !important; */
}

.main {
    background-color: white;
}

html body .disabled-project-box:hover {
    cursor: not-allowed !important;
    box-shadow: none !important;
    background-color: #e2e2e2 !important;
    color: black;
}

#main-content-box {
    min-height: 100vh;
}

/* @media screen and (min-width: 400px) {
    #main-content-box {
        margin-top: 70px;
    }
} */

#arrowText {
    position: absolute;
    top: 41px;
    left: 221px;
    font-weight: 700;
    transform: rotate(-19deg);
    text-align: center;
}

#arrowPng {
    position: absolute;
    width: 72px;
    transform: rotate(169deg) scalex(-1);
    top: 37px;
    left: 143px;
}

html body .disabled-project-box {
    background-color: #e2e2e2;
    cursor: not-allowed;
}

.left-def-padding {
    padding-left: 60px;
}

.def-padding {
    padding-left: 60px;
    padding-right: 60px;
}

@media only screen and (max-width: 1200px) {
    .def-padding {
        padding: 0;
    }
    .left-def-padding {
        padding: 0;
    }
    #mainImage {
        /* transform: translateY(-210px) translateX(96px) scale(0.45);
        position: absolute; */
        display: none;
    }
}

/* .welcome-content {
    padding-top: 110px;
} */

/* old color */
/* #86abdb */

.btn-custom-mine {
    background-color: #86abdb !important;
    color: white;
}

#mainImage {
    /* margin-top: 85px; */
    height: 550px;
}

/* .content-category-option:hover, .content-category-option.selected {
    background-color: rgb(25,135,84) !important;
    color: white;
} */

.custom-btn-flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-custom-mine:hover {
    background-color: #3c7dd2 !important;
    color: white;
}

#image-background-circle {
    position: absolute;
    top: 260px;
    right: 290px;
    background: #ffeca5;
    border-radius: 50%;
    width: 350px;
    height: 350px;
}

.message-box {
    line-height: 2;
    font-weight: 700;
}

.contacts-box {
    font-weight: 700;
}

#scroll-down-arrow {
    animation: arrowAnimation 2s ease-in infinite normal forwards;
}

@keyframes arrowAnimation {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

#projects-list {
    min-height: 280px;
}

.experience-box h4 {
    font-weight: 300;
}

span.undeline {
    text-decoration: underline;
}

.single-project-box {
    /* fcf8e9 */
    position: relative;
    background-color: white;
    border: 1px solid black;
    /* border: 2px solid #ffeca5; */
    /* height: 180px; */
    padding: 10px;
    /* border-radius: 10px; */
    cursor: pointer;
    margin-top: 15px !important;

    transition: all 0.3s ease;

    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: 5px;
}

.single-project-box.link-empty {
    cursor: not-allowed;
}

.background-white-icon {
    padding: 20px;
    font-size: 2.5em;
    /* border-right: 1px solid black; */
}

.background-white-icon-mobile {
    display: none;
}

p.project-description-item-title {
    font-size: 1.3em;
}

.project-box-parent .single-project-box {
    height: 100%;
}

.single-project-box p {
    margin: 0;
}

.single-project-box.link-empty:hover {
    /* background-color: ; */
}

.single-project-box:hover {
    cursor: pointer;
    background-color: #2d62a8;
    color: white;
}

.proj-category.selected {
    color: white;
    background-color: rgb(25, 135, 84) !important;
    cursor: default !important;
}

.proj-category {
    transition: all 0.3s ease;
    display: inline-block;
}

@media (max-width: 430px) {
    .proj-category {
        display: block;
    }
}

.proj-category:hover {
    background-color: rgba(25, 135, 84, 0.6);
    color: white;
    cursor: pointer;
}

.description-small {
    font-size: small;
    margin-top: 8px;
}

#menu {
    position: fixed;
    top: 20px;
    left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

#menu .menu-item p {
    margin: 0 !important;
}

#menu .menu-item {
    padding: 15px;
    text-align: center;
    margin: 3px;

    transition: all 0.3s ease;
}

#menu .menu-item:hover {
    background-color: rgba(25, 135, 84, 0.6);
    color: white;
    cursor: pointer;
}

#menu .menu-item.selected {
    color: white;
    background-color: rgb(25, 135, 84) !important;
    cursor: default !important;
}

.pallete-top {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 30%,
        rgba(255, 236, 165, 1) 100%
    );
    height: 250px;
}

@media (min-width: 401px) {
    #ArrowContainer {
        transform: translateY(50px);
    }
}

.pallete-bottom {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 30%,
        rgba(255, 236, 165, 1) 100%
    );
    height: 250px;
}

#content-categories-box {
    /* background-color: #ffeca5; */
    /* margin-top: 250px; */
    padding-bottom: 200px;
}

#works-content-box {
    /* min-height: 890px !important; */
}

.content-category-option {
    padding: 25px !important;
    border: none !important;
    text-decoration: none;
    color: white;

    font-weight: bold;

    transition: all 0.3s ease;
}

.content-category-option:hover {
    /* background-color:#86abdb; */
    background-color: #86abdb;
}

.content-category-option.selected {
    /* background-color: #ffeca5; */
    background-color: #86abdb;
}

.content-category-legend > div {
    /* background-color:#ffeca5; */
    border-radius: 5px;
    background-color: #2d62a8;
    min-height: 210px;
    color: white;
    -webkit-box-shadow: 0px 40px 79px -47px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 40px 79px -47px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 40px 79px -47px rgba(0, 0, 0, 0.75);
}

.content-category-legend p {
    font-size: 1.3em;
}

#github-icon {
    font-size: 2em;
}

#footer-box:hover {
    color: rgb(25, 135, 84);
    cursor: pointer;
}

#footer-box {
    transition: all 0.3s ease;
}

.td-none {
    text-decoration: none;
}

.color-main-green {
    color: rgb(25, 135, 84);
}

.color-main-blue {
    color: #86abdb;
}

.color-main-blue:hover {
    color: #3c7dd2;
}

/* link */
.link__box .link {
    width: 100%;
}
.link__box span {
    padding-right: 4px;
}

/* software section */
.icon-software-bar {
    font-size: 3em;
}

/* Modal */
.modal {
    display: none;
}

.modal.is-open {
    display: block;
}

.mobile-display-none {
    display: initial;
}

.desktop-display-none {
    display: none;
}

.single-proj-handle {
    position: absolute;
    width: 10px;
    right: 15px;
}

@media only screen and (min-width: 575px) and (max-width: 990px) {
    .single-project-box .row {
        margin: 0;
    }

    /* .badges {
        display: flex;
        justify-content: center;
    } */
}

@media only screen and (min-width: 431px) and (max-width: 575px) {
    .project-description > p,
    .project-description > span,
    .project-description span {
        text-align: center;
    }

    .single-project-box .row {
        margin: 0;
    }

    .badges {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 430px),
    only screen and (max-height: 430px) and (orientation: landscape) {
    #mainImage {
        display: none;
    }

    .desktop-display-none {
        display: initial;
    }

    /* .welcome-content {
        padding-top: 0px !important;
    } */
    #technologies-box div h1 {
        font-size: 8vw;
    }

    #technologies-box .subtext {
        font-size: 16px;
    }

    #technologies-box-items-box a {
        margin-bottom: 3px;
    }

    .mobile-display-none {
        display: none;
    }

    #arrowText {
        top: 91px;
        left: 10px;
        font-weight: 700;
        transform: rotate(-19deg);
        text-align: center;
    }

    #content-categories-box {
        margin-top: 160px;
    }

    #arrowPng {
        position: absolute;
        width: 72px;
        transform: rotate(169deg);
        top: 50px;
        left: 100px;
    }
    .background-white-icon {
        display: none;
    }

    .background-white-icon-mobile {
        display: inline-block;
    }

    p.project-description-item-title {
        font-size: 16px;
        font-weight: bold;
    }

    .single-project-box:hover {
        cursor: default;
        background-color: white;
        color: black;
    }

    .action-box-title {
        font-size: 1.6em;
    }

    .action-box-subtext {
        font-size: 1em;
    }
}
